/*Header SECTION START*/
header{
  height: 72.3rem;
  position: relative;
}
.banner-header{
    background: url(../assets/banner.png) no-repeat ;
    background-size: cover;
    height: 100%;
    background-position: 100% 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0 100%);
    .logo_content{
      margin: 0rem !important;
      font-size:$font-15px;
      font-family: $font-family;
      color: $black;
      font-weight: 700;
      letter-spacing: .3px;
      transition:  all .5s ease-in-out;
      -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out; 
        -o-transition: all .5s ease-in-out; 
        -ms-transition:all .5s ease-in-out;
      &:hover{
          color:#e57313;
          text-decoration: none;
          cursor: pointer;
          transition:  all .5s ease-in-out;
          -webkit-transition: all .5s ease-in-out;
            -moz-transition: all .5s ease-in-out; 
            -o-transition: all .5s ease-in-out; 
            -ms-transition:all .5s ease-in-out;
      }
  }
  }
  
  .collaping_nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end !important;
  }
  .navmenu_primary,.navmenu_secondary{
    
    ul {
        @extend %ul;
        float: right;
        margin-bottom: 0;
    }
    li{
        @extend %li;
    }
    .nav-link, a{
        color: $black !important;
        font-size:$font-14px;
        font-family: $font-family;
        font-weight: 400;
        letter-spacing: .3px;
        padding-right: 0rem !important;
        transition:  all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
          -moz-transition: all .5s ease-in-out; 
          -o-transition: all .5s ease-in-out; 
          -ms-transition:all .5s ease-in-out;
    }
    .nav-link:hover, a:hover{
      color:#e57313 !important;
      text-decoration: none;
      cursor: pointer;
      transition:  all .5s ease-in-out;
      -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out; 
        -o-transition: all .5s ease-in-out; 
        -ms-transition:all .5s ease-in-out;
  }
    .brright{
        @include borderright(1px ,#265781);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    li.brright,.a-text{
      i{
          padding: 0px 3px;
      }
      &_span{
         width: 3rem;
         height: 3rem;
          border: none;
          background-color: transparent;
          cursor: pointer;
      }
      &_span:nth-child(1) {
          padding-left: 0px;
          border: none;
          background-color: transparent;
          cursor: pointer;
      }
      &_span:nth-child(2) {
          font-size: 1.4rem;
          border: none;
          background-color: transparent;
          cursor: pointer;
      }
      &_span:nth-child(3) {
          font-size: 1.6rem;
          border: none;
          background-color: transparent;
          cursor: pointer;
      }
     
    }
  }
  .navmenu_secondary_list {
    display: flex;
  li{
    @include borderright(1px ,rgb(13, 13, 14))
}
  }
.navmenu_secondary_list li:nth-last-child(1){
    border: none;
}
  .nav_span_EN{
   
    display: inline-block;
    width: 3rem;
    font-weight:400;
  color: #242628;
    text-decoration: none;
    font-size: 1.2rem;
background: url(../assets/Path\ 1.png) no-repeat right;
}
  .search{
    padding: 0;
    background: transparent;
    border: transparent;
    color: #4354b5;
    font-size: 1.3rem;

  }
  .bluedot{ color:$blue;}
  .greendot{color: $green;}
  .yellowdot{color: $yellow;}

  .center_bg_banner{
    position: absolute;
    bottom: 3%;
    text-align: center;
    width:100%;
    z-index: 4;
    i{
        background: $yellow;
        padding: 18px 15px;
        font-size: 2.7rem;
        width: 5.4rem;
        height: 5.4rem;
        @include borderradius(12px);
    }

  }

  /*Responsive for mobile and tab*/
  @include respond-to('desktop-max') {
    html{
      font-size:9px;
    }
    .container1{
      max-width:140rem;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0;
  }
  }
  
  @include respond-to('ipad-max') {
   
    html{
       font-size:6px;
     }
     .container1{
       max-width:100%;
       margin-left: auto;
       margin-right: auto;
       padding-left: 0;
       padding-right: 0;
   
   }
  

  .navmenu_primary,.navmenu_secondary{
    .nav-link, a{
      color: white !important;
      margin-bottom: 2rem;
    
    &:hover{
      color:#e57313 !important;
    }
  }
    .brright{
      display: none;
    }
    .search{
      display: none;
    }
  }
  .navmenu_secondary_list {
    display: flex;
    flex-direction: column;
  li{
   border: none;
}
}
.collaping_nav{
 padding: 4rem;
  background-color: rgba(0,0,0, 0.4);
}
  }

  
  @include respond-to('mobile-max'){
    html{
        font-size:5px;
      }
      .container1{
        max-width:100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }
   }