/*ABOUT US SECTION START*/
.about_us_sec{
  margin: 8.6rem 0rem;
  .about-us-sec_content{
    width: 88.6rem;
  }
  p{
    font-size:$font-16px;
    font-family:$font-family_SFCompactDisplay-Regular;
    color: $textcolor;
    font-weight: 400;
    word-spacing: 0.2rem;
    letter-spacing: 0.1rem;
  }
}
.watermark-h2{
    @extend %watermark
}
.watermark-bottom-content{
  @extend %watermarkbottomcontent
}
.knowmore_btn{
  @extend %knowmorebtn;  
  @include borderradius(10px);
  @include border(1px,transparent);
  transition:  all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out; 
    -o-transition: all .5s ease-in-out; 
    -ms-transition:all .5s ease-in-out;
    &:hover{
      @extend %knowmorebtnhover;
      @include borderradius(10px);
      @include border(1px,transparent);
       transition:  all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out; 
    -o-transition: all .5s ease-in-out; 
    -ms-transition:all .5s ease-in-out;
}

}

/*NEWS SECTION START*/

.sliderwrap_inner{
  display: flex;
  align-items: center;
  justify-content: center;

.card{
  margin-top: 5rem;
  width: 41rem;
  overflow: hidden !important;

  .sliderwrap-content{
    @extend %sliderwrapcontent;
    width: 100%;
  padding:1rem;
  position: absolute;
  bottom: 0;
  h6{
    font-size:$font-18px;
    font-family: $font-family;
    color:#FFFFFF;
    font-weight: 600; 
    line-height: 2.7rem;
    z-index: 999;
  }p{
display: none;

  }
  .sliderwrap-button-wrap{
    display: none;
  }
  }
  .sliderwrap-date-right{
    width: 8.5rem;
    height: 5.6rem;
    background-color: #FFFFFF;
    border-radius: 10px;
    z-index: 999;
    h4{
      font-size:3.1rem;
      font-family:$font-family_SFCompactDisplay-Regular;
      color:$text-color;
      font-weight: 400;
      text-transform: uppercase;
    }
    h5{
      font-size:1rem;
      font-family:$font-family_SFCompactDisplay-Regular;
      color:$text-color;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  
}
}
.slick-active {
  .card{
    width: 49rem;
    margin-top: 0rem;
    border: none;
    overflow: hidden !important;
    .sliderwrap-content{
      padding-bottom: 7rem;
      h6{
        font-size:$font-22px;
        font-family: $font-family;
        line-height: 2.7rem;
        color:#FFFFFF;
        font-weight: 600; 
        z-index: 999;
      }p{
        display: block;
        font-size:$font-16px;
        font-family: $font-family;
        color:#FFFFFF;
        font-weight: 400; 
        z-index: 999;
        line-height: 2.5rem;
        
      }
      .sliderwrap-button-wrap{
        display: block;
        .sliderwrap-button-leftbtn {
          background: #f2e162;
          cursor: pointer;
          width: 4.1rem;
          height: 4rem;
          border-radius: 10px;
          font-size: 2.1rem;
          position: absolute;
          bottom: 2rem;
          left: 20px;
          z-index: 9;
          border: none;
          font-weight: 600;
          color: $textcolor;
        }
      
      }
   }
   .sliderwrap-date-right{
    width: 10rem;
    height: 5.6rem;
    background-color: #FFFFFF;
    border-radius: 10px;
    z-index: 999;
    h4{
      font-size:4.1rem;
      font-family:$font-family_SFCompactDisplay-Regular;
      color:$text-color;
      font-weight: 400;
      text-transform: uppercase;
    }
    h5{
      font-size:$font-14px;
      font-family:$font-family_SFCompactDisplay-Regular;
      color:$text-color;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  
  }
 
}

.latestnews-sec{
  .row{
    margin: 0rem !important;
  }
}
.news-text-rotate {
  @include transform(rotate(-90deg)); 
}


/*Services SECTION START*/
.service-sec {
  margin-top: 8rem;
}
.service-sec_content{
  width: 87.7rem;
  ul{
    @extend %ul;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    p{
      font-size:$font-16px;
      font-family: $font-family_lato;
      color:$black;
      font-weight: 600; 
    margin-top: 2.3rem;
    line-height: 1.9rem;
    text-transform: uppercase;
    }
}
}

/*TENDER SECTION START*/


.tenders-sec{
  background: rgba(255, 255, 255, 0.6)
}
.tender-grp-img {
  background: url(../assets/tender.png);
  background-size: cover;
  height: 10rem;
  margin-top: 7.5rem;
  margin-bottom: 4.3rem;
  position: relative;

}
.layer {
  background-color: rgba(45, 51, 58, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 24%, 100% 0%, 100% 100%, 0 100%);
}
.tender-content{
  padding-left: 2.7rem;
  padding-top: 2.7rem;
  h4{
    font-size:$font-18px;
    font-family: $font-family;
    color:$black;
    font-weight: 600;
    line-height: 2.7rem;
  }
  p{
    font-size:$font-16px;
    font-family: $font-family;
    color:$black;
    font-weight: 400;
    line-height: 2.1rem;
  }
}
.view-all-btn-holder{
  margin-top: 6.6rem;
}
.tender-detail_card{
  //box-shadow: -2px 3px 6px 2px #eee;
  box-shadow: 0px 3px 6px  rgba(0,0,0,0.16);
  -webkit-box-shadow: 0px 3px 6px  rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 3px 6px rgba(0,0,0,0.16);

}
/*Responsive for mobile and tab*/

@include respond-to('desktop-max') {
  html{
    font-size:9px;
  }
  .container1{
    max-width:140rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
}
}

@include respond-to('ipad-max') {
 
  html{
     font-size:6px;
   }
   .container1{
     max-width:100%;
     margin-left: auto;
     margin-right: auto;
     padding-left: 0;
     padding-right: 0;
 
 }
 .news-text-rotate {
  @include transform(rotate(0deg)); 
}
.latestnews-sec-text{
  height: 30rem;
}
.tender-detail_card{
  
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 4rem;
  padding: 3rem;
}
.tender-content{
  max-width: 55%;
align-items: center;
display: flex;
flex-direction: column;
min-height: 13rem;
padding-left: 0rem;
padding-top: 0rem;

p{
  align-items: center;
}
}
.watermark-h2{
  font-size: 11rem;
  font-weight: 700;
  color:$heading-text-color;
  opacity: 0.1;
  font-family: $font-family;

}
.watermark-bottom-content{
  font-size: 2.9rem;
  font-weight: 700;
  margin-top: -5.3rem;
  color: $heading-text-color;
  text-transform: uppercase;
  font-family: $font-family;
}
}

@include respond-to('mobile-max'){
  html{
      font-size:4px;
    }
  
    .container1{
      max-width:100%;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0;
  }
  .about_us_sec{
    margin: 1.6rem 0rem;
  }
  .tender-detail_card{
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 4rem;
  }
  .service-sec_content{
    padding-top: 2rem;
   
    ul{

      flex-direction: column;
      align-items: center;
    }
    li{
      margin: 2rem 0rem;
    }
  }
  
  .slick-active {
    .card{
      width: 43rem;
      overflow: hidden !important;
    }
    .sliderwrap-content{
      padding-bottom: 1rem;
   }
  }
  .sliderwrap_inner{
  .card{
    margin-top: 0rem;
    width: 41rem;
    overflow: hidden !important;
  }}
  .tender-content{
 max-width: 80%;
 }
 .tender-detail_card{
padding-bottom: 3rem;
 }
 .latestnews-sec-text{
   height: 16rem;
 }
 .watermark-h2{
  font-size: 9rem;
  font-weight: 700;
  color:$heading-text-color;
  opacity: 0.1;
  font-family: $font-family;

}
.slick-active {
  .card{
    .sliderwrap-content{
      padding-bottom: 1rem;
      padding-top: 1rem;
    }
  }
}
}