$font-family: 'Poppins', sans-serif;
$font-family_lato:  'Lato-black',sans-serif;
$font-family_lato-regular:  'Lato',sans-serif;
$font-family_RobotoCondensed:  'RobotoCondensed',sans-serif;
$font-family_FiraSans:  'FiraSans',sans-serif;
$font-family_FiraSans-Book:  'FiraSans-Book',sans-serif;
$font-family_SFCompactDisplay-Regular:  'SFCompactDisplay',sans-serif;
$black:#505050;
$blue:#3f51b5;
$green:#52b27b;
$yellow:#f2e162;
$text-color:#505050;
$heading-text-color:#706960;
$textcolor:#272727;
$white-text-color:#FFFFFF;
$font-18px:1.8rem;
$font-16px:1.6rem;
$font-12px:1.2rem;
$font-13px:1.3rem;
$font-14px:1.4rem;
$font-15px:1.5rem;
$font-22px:2.2rem;
$bgtrans:transparent;
$padding-Y20:20px 0;