@font-face {
  font-family: "Poppins";
  src: url("Poppins-Regular.eot");
  src: url("Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("Poppins-Regular.svg#Poppins-Regular") format("svg"), url("Poppins-Regular.ttf") format("truetype"), url("Poppins-Regular.woff") format("woff"), url("Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-Bold.eot");
  src: url("Poppins-Bold.eot?#iefix") format("embedded-opentype"), url("Poppins-Bold.svg#Poppins-Bold") format("svg"), url("Poppins-Bold.ttf") format("truetype"), url("Poppins-Bold.woff") format("woff"), url("Poppins-Bold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("Lato-Regular.eot");
  src: url("Lato-Regular.eot?#iefix") format("embedded-opentype"), url("Lato-Regular.svg#Lato-Regular") format("svg"), url("Lato-Regular.ttf") format("truetype"), url("Lato-Regular.woff") format("woff"), url("Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("Lato-Black.eot");
  src: url("Lato-Black.eot?#iefix") format("embedded-opentype"), url("Lato-Black.svg#Lato-Black") format("svg"), url("Lato-Black.ttf") format("truetype"), url("Lato-Black.woff") format("woff"), url("Lato-Black.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RobotoCondensed";
  src: url("RobotoCondensed-Bold.eot");
  src: url("RobotoCondensed-Bold.eot?#iefix") format("embedded-opentype"), url("RobotoCondensed-Bold.svg#RobotoCondensed-Bold") format("svg"), url("RobotoCondensed-Bold.ttf") format("truetype"), url("RobotoCondensed-Bold.woff") format("woff"), url("RobotoCondensed-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FiraSans";
  src: url("FiraSans-Bold.eot");
  src: url("FiraSans-Bold.eot?#iefix") format("embedded-opentype"), url("FiraSans-Bold.svg#FiraSans-Bold") format("svg"), url("FiraSans-Bold.ttf") format("truetype"), url("FiraSans-Bold.woff") format("woff"), url("FiraSans-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFCompactDisplay";
  src: url("SFCompactDisplay-Regular.eot");
  src: url("SFCompactDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("SFCompactDisplay-Regular.svg#SFCompactDisplay-Regular") format("svg"), url("SFCompactDisplay-Regular.ttf") format("truetype"), url("SFCompactDisplay-Regular.woff") format("woff"), url("SFCompactDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.conacct_section_inner ul, .about_us_holder ul, .service-sec_content ul, .navmenu_primary ul, .navmenu_secondary ul {
  list-style-type: none;
}

.watermark-h2 {
  font-size: 15rem;
  font-weight: 700;
  color: #706960;
  opacity: 0.1;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

.watermark-bottom-content {
  font-size: 2.9rem;
  font-weight: 700;
  margin-top: -6.3rem;
  color: #706960;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.knowmore_btn {
  padding: 0.3rem 2rem;
  background: #f2e162;
  text-transform: uppercase;
  font-size: 1.6rem;
  color: #272727;
  font-family: "SFCompactDisplay", sans-serif;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}

.knowmore_btn:hover {
  padding: 0.3rem 2rem;
  background: #272727;
  text-transform: uppercase;
  font-size: 1.6rem;
  cursor: pointer;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}

.sliderwrap_inner .card .sliderwrap-content {
  background-color: rgba(41, 24, 24, 0.6);
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container1 {
  max-width: 128rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  color: aqua;
}

/*Header SECTION START*/
header {
  height: 72.3rem;
  position: relative;
}

.banner-header {
  background: url(../assets/banner.png) no-repeat;
  background-size: cover;
  height: 100%;
  background-position: 100% 100%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0 100%);
}
.banner-header .logo_content {
  margin: 0rem !important;
  font-size: 1.5rem;
  font-family: "RobotoCondensed", sans-serif;
  color: #505050;
  line-height: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}
.banner-header .logo_content:hover {
  color: #e57313;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}

.collaping_nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end !important;
}

.navmenu_primary .nav-link, .navmenu_primary a, .navmenu_secondary .nav-link, .navmenu_secondary a {
  color: #505050 !important;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0.3px;
  padding-right: 0rem !important;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}
.navmenu_primary .nav-link:hover, .navmenu_primary a:hover, .navmenu_secondary .nav-link:hover, .navmenu_secondary a:hover {
  color: #e57313 !important;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}

.navmenu_primary_list1 {
  display: block;
}
.navmenu_primary_list1 li {
  padding: 0rem 1.9rem;
  display: inline-block;
  position: relative;
}
.navmenu_primary_list1 li:before {
  content: "";
  height: 70%;
  width: 1px;
  background: #265781;
  position: absolute;
  left: 0%;
  bottom: 10%;
}
.navmenu_primary_list1 li:first-child:before {
  display: none;
}
.navmenu_primary_list1 .ellipseimg {
  padding: 0rem 1rem;
}
.navmenu_primary_list1 .nav_span_EN {
  width: 3rem;
  font-weight: 400;
  color: #505050;
  text-decoration: none;
  font-size: 1.4rem;
  font-family: "FiraSans-Book", sans-serif;
  background: url(../assets/Path.png) no-repeat right;
}
.navmenu_primary_list1 .dropdown-menu {
  border: none !important;
  background: white;
  min-width: 160px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  z-index: 1;
  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3 ease-in;
}
.navmenu_primary_list1 .search {
  padding: 0;
  background: transparent;
  border: transparent;
  color: #4354b5;
  font-size: 1.6rem;
}
.navmenu_primary_list1 .search .search_img {
  width: 17.52px;
  height: 17.36px;
  border: none;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  background: url(../assets/search.png) no-repeat center;
  padding: 0.5rem;
}
.navmenu_primary_list1 .search .search_img:focus {
  width: 100%;
  background: url(../assets/search.png) no-repeat right;
  padding: 1rem;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
}

li .ellipse_holder i, .a-text i {
  padding: 0px 3px;
}
li .ellipse_holder_span, .a-text_span {
  width: 3rem;
  height: 3rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: "FiraSans", sans-serif;
  font-weight: 600;
  color: #505050;
}
li .ellipse_holder_span:nth-child(1), .a-text_span:nth-child(1) {
  padding-left: 0px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.1rem;
}
li .ellipse_holder_span:nth-child(2), .a-text_span:nth-child(2) {
  font-size: 1.4rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
li .ellipse_holder_span:nth-child(3), .a-text_span:nth-child(3) {
  font-size: 1.6rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.navmenu_secondary_list {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.navmenu_secondary_list li {
  padding: 0rem 1rem;
  display: inline-block;
  position: relative;
}
.navmenu_secondary_list li:before {
  content: "";
  height: 70%;
  width: 1px;
  background: #505050;
  position: absolute;
  left: 0%;
  bottom: 15%;
}
.navmenu_secondary_list li:first-child:before {
  display: none;
}

.center_bg_banner {
  position: absolute;
  bottom: 3%;
  text-align: center;
  width: 100%;
  z-index: 4;
}
.center_bg_banner i {
  background: #f2e162;
  padding: 18px 15px;
  font-size: 2.7rem;
  width: 5.4rem;
  height: 5.4rem;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

/*Responsive for mobile and tab*/
@media (max-width: 1199px) {
  html {
    font-size: 9px;
  }

  .container1 {
    max-width: 140rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 6px;
  }

  .container1 {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .navmenu_primary .nav-link, .navmenu_primary a, .navmenu_secondary .nav-link, .navmenu_secondary a {
    color: white !important;
    margin-bottom: 2rem;
  }
  .navmenu_primary .nav-link:hover, .navmenu_primary a:hover, .navmenu_secondary .nav-link:hover, .navmenu_secondary a:hover {
    color: #e57313 !important;
  }

  .navmenu_primary_list1 li {
    display: none;
  }
  .navmenu_primary_list1 .search {
    display: none;
  }
  .navmenu_primary_list1 .nav_span_EN {
    display: none;
  }

  .navmenu_secondary_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .navmenu_secondary_list li {
    border: none;
    margin-bottom: 2rem;
  }
  .navmenu_secondary_list li:before {
    display: none;
  }

  .collaping_nav {
    padding: 4rem;
    background-color: rgba(0, 0, 0, 0.4);
  }
}
@media (max-width: 480px) {
  html {
    font-size: 5px;
  }

  .container1 {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}
/*ABOUT US SECTION START*/
.about_us_sec {
  margin: 8.6rem 0rem;
}
.about_us_sec .about-us-sec_content {
  width: 88.6rem;
}
.about_us_sec p {
  font-size: 1.6rem;
  font-family: "SFCompactDisplay", sans-serif;
  color: #272727;
  font-weight: 400;
  word-spacing: 0.2rem;
  letter-spacing: 0.1rem;
}

.knowmore_btn {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}
.knowmore_btn:hover {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}

/*NEWS SECTION START*/
.sliderwrap_inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sliderwrap_inner .card {
  margin-top: 5rem;
  width: 41rem;
  overflow: hidden !important;
}
.sliderwrap_inner .card .sliderwrap-content {
  width: 100%;
  padding: 1rem;
  position: absolute;
  bottom: 0;
}
.sliderwrap_inner .card .sliderwrap-content h6 {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
  font-weight: 600;
  line-height: 2.7rem;
  z-index: 999;
}
.sliderwrap_inner .card .sliderwrap-content p {
  display: none;
}
.sliderwrap_inner .card .sliderwrap-content .sliderwrap-button-wrap {
  display: none;
}
.sliderwrap_inner .card .sliderwrap-date-right {
  width: 8.5rem;
  height: 5.6rem;
  background-color: #FFFFFF;
  border-radius: 10px;
  z-index: 999;
}
.sliderwrap_inner .card .sliderwrap-date-right h4 {
  font-size: 3.1rem;
  font-family: "SFCompactDisplay", sans-serif;
  color: #505050;
  font-weight: 400;
  text-transform: uppercase;
}
.sliderwrap_inner .card .sliderwrap-date-right h5 {
  font-size: 1rem;
  font-family: "SFCompactDisplay", sans-serif;
  color: #505050;
  font-weight: 700;
  text-transform: uppercase;
}

.slick-active .card {
  width: 49rem;
  margin-top: 0rem;
  border: none;
  overflow: hidden !important;
}
.slick-active .card .sliderwrap-content {
  padding-bottom: 7rem;
}
.slick-active .card .sliderwrap-content h6 {
  font-size: 2.2rem;
  font-family: "Poppins", sans-serif;
  line-height: 2.7rem;
  color: #FFFFFF;
  font-weight: 600;
  z-index: 999;
}
.slick-active .card .sliderwrap-content p {
  display: block;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
  font-weight: 400;
  z-index: 999;
  line-height: 2.5rem;
}
.slick-active .card .sliderwrap-content .sliderwrap-button-wrap {
  display: block;
}
.slick-active .card .sliderwrap-content .sliderwrap-button-wrap .sliderwrap-button-leftbtn {
  background: #f2e162;
  cursor: pointer;
  width: 4.1rem;
  height: 4rem;
  border-radius: 10px;
  font-size: 2.1rem;
  position: absolute;
  bottom: 2rem;
  left: 20px;
  z-index: 9;
  border: none;
  font-weight: 600;
  color: #272727;
}
.slick-active .card .sliderwrap-date-right {
  width: 10rem;
  height: 5.6rem;
  background-color: #FFFFFF;
  border-radius: 10px;
  z-index: 999;
}
.slick-active .card .sliderwrap-date-right h4 {
  font-size: 4.1rem;
  font-family: "SFCompactDisplay", sans-serif;
  color: #505050;
  font-weight: 400;
  text-transform: uppercase;
}
.slick-active .card .sliderwrap-date-right h5 {
  font-size: 1.4rem;
  font-family: "SFCompactDisplay", sans-serif;
  color: #505050;
  font-weight: 700;
  text-transform: uppercase;
}

.latestnews-sec .row {
  margin: 0rem !important;
}

.news-text-rotate {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
}

/*Services SECTION START*/
.service-sec {
  margin-top: 8rem;
}

.service-sec_content {
  width: 87.7rem;
}
.service-sec_content ul {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.service-sec_content ul p {
  font-size: 1.6rem;
  font-family: "Lato-black", sans-serif;
  color: #505050;
  font-weight: 600;
  margin-top: 2.3rem;
  line-height: 1.9rem;
  text-transform: uppercase;
}

/*TENDER SECTION START*/
.tenders-sec {
  background: rgba(255, 255, 255, 0.6);
}

.tender-grp-img {
  background: url(../assets/tender.png);
  background-size: cover;
  height: 10rem;
  margin-top: 7.5rem;
  margin-bottom: 4.3rem;
  position: relative;
}

.layer {
  background-color: rgba(45, 51, 58, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 24%, 100% 0%, 100% 100%, 0 100%);
}

.tender-content {
  padding-left: 2.7rem;
  padding-top: 2.7rem;
}
.tender-content h4 {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  color: #505050;
  font-weight: 600;
  line-height: 2.7rem;
}
.tender-content p {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  color: #505050;
  font-weight: 400;
  line-height: 2.1rem;
}

.view-all-btn-holder {
  margin-top: 6.6rem;
}

.tender-detail_card {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

/*Responsive for mobile and tab*/
@media (max-width: 1199px) {
  html {
    font-size: 9px;
  }

  .container1 {
    max-width: 140rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 6px;
  }

  .container1 {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .news-text-rotate {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }

  .latestnews-sec-text {
    height: 30rem;
  }

  .tender-detail_card {
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 4rem;
    padding: 3rem;
  }

  .tender-content {
    max-width: 55%;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 13rem;
    padding-left: 0rem;
    padding-top: 0rem;
  }
  .tender-content p {
    align-items: center;
  }

  .watermark-h2 {
    font-size: 11rem;
    font-weight: 700;
    color: #706960;
    opacity: 0.1;
    font-family: "Poppins", sans-serif;
  }

  .watermark-bottom-content {
    font-size: 2.9rem;
    font-weight: 700;
    margin-top: -5.3rem;
    color: #706960;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 4px;
  }

  .container1 {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .about_us_sec {
    margin: 1.6rem 0rem;
  }

  .tender-detail_card {
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 4rem;
  }

  .service-sec_content {
    padding-top: 2rem;
  }
  .service-sec_content ul {
    flex-direction: column;
    align-items: center;
  }
  .service-sec_content li {
    margin: 2rem 0rem;
  }

  .slick-active .card {
    width: 43rem;
    overflow: hidden !important;
  }
  .slick-active .sliderwrap-content {
    padding-bottom: 1rem;
  }

  .sliderwrap_inner .card {
    margin-top: 0rem;
    width: 41rem;
    overflow: hidden !important;
  }

  .tender-content {
    max-width: 80%;
  }

  .tender-detail_card {
    padding-bottom: 3rem;
  }

  .latestnews-sec-text {
    height: 16rem;
  }

  .watermark-h2 {
    font-size: 9rem;
    font-weight: 700;
    color: #706960;
    opacity: 0.1;
    font-family: "Poppins", sans-serif;
  }

  .slick-active .card .sliderwrap-content {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}
/*FOOTER START*/
.footer_container {
  margin-top: 5rem;
  background-color: #f2e162;
  position: relative;
  overflow: hidden;
}

.footer_container:after {
  width: 35%;
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  display: block;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.footer_container_inner {
  padding: 0rem;
}

.subscribe_section {
  margin-top: 6.4rem;
  flex: 65%;
}
.subscribe_section h4 {
  color: #505050;
  font-weight: 700;
  font-size: 2.2rem;
  font-family: "Lato", sans-serif;
}

.subscribe_section_email_holder {
  max-width: 67.2rem;
  height: 4.6rem;
  background: rgba(0, 0, 0, 0.1) none;
  -webkit-border-radius: 8rem;
  -moz-border-radius: 8rem;
  border-radius: 8rem;
  padding: 0.5rem;
  margin-top: 1.6rem;
}

.subscribe_section_email {
  color: #505050;
  font-weight: 400;
  font-size: 1.4rem;
  font-family: "Lato", sans-serif;
  padding-left: 1.9rem;
  background: none;
  border: 0;
  outline: 0;
  width: 100%;
}

::placeholder {
  color: #505050;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #505050;
  font-weight: 400;
  font-size: 1.4rem;
  font-family: "Lato", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #505050;
  font-weight: 400;
  font-size: 1.4rem;
  font-family: "Lato", sans-serif;
}

.btn_subscribe_now {
  -webkit-border-radius: 8rem;
  -moz-border-radius: 8rem;
  border-radius: 8rem;
  min-width: 19.1rem;
  color: #505050;
  font-weight: 700;
  font-size: 1.6rem;
  height: 3.6rem;
  border: none;
  padding: 0.2rem;
  font-family: "SFCompactDisplay", sans-serif;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}

.btn_subscribe_now:hover {
  -webkit-border-radius: 8rem;
  -moz-border-radius: 8rem;
  border-radius: 8rem;
  width: 19.1rem;
  height: 3.6rem;
  padding: 0.2rem;
  cursor: pointer;
  border: none;
  color: #FFFFFF;
  font-family: "SFCompactDisplay", sans-serif;
  background-color: #f2e162;
  padding: 0.5rem;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}

.about_us_holder {
  width: 80%;
}
.about_us_holder .last_about_us_holder {
  padding-right: 5rem;
  border-right: 1px solid rgba(112, 112, 112, 0.3);
}
.about_us_holder h5 {
  color: #505050;
  font-size: 1.8rem;
  font-family: "SFCompactDisplay", sans-serif;
  font-weight: 700;
  letter-spacing: 0.3px;
  margin-top: 2.2rem;
}
.about_us_holder a {
  color: #505050;
  font-size: 1.4rem;
  font-family: "SFCompactDisplay", sans-serif;
  font-weight: 400;
  letter-spacing: 0.3px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}
.about_us_holder a:hover {
  color: #e57313;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}

.text_declaration_holder {
  margin-top: 5.7rem;
  padding-bottom: 3.8rem;
}
.text_declaration_holder h6 {
  color: #505050;
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
.text_declaration_holder h6 span {
  color: #505050;
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.contact_us_section {
  float: right;
  flex: 35%;
  width: 100%;
  padding-left: 3.6rem;
}

.conacct_section_inner {
  width: 37.1rem;
}
.conacct_section_inner h6 {
  color: #505050;
  font-size: 1.8rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  letter-spacing: 0.3px;
  line-height: 2.4rem;
}
.conacct_section_inner p {
  color: #505050;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  opacity: 0.8;
}

.contact_us_holder {
  padding-bottom: 1rem;
}

.contact_details {
  margin-left: 2.5rem;
  width: 28.3rem;
  border-bottom: 1px solid rgba(80, 80, 80, 0.2);
}

.contact_details_last {
  margin-left: 2.5rem;
  width: 28.3rem;
  border-bottom: none;
}

.Follow_us_container {
  margin-bottom: 3.2rem;
  padding-right: 3rem;
}

.Follow_us_header_container {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  width: 50%;
}

.Follow_us_header {
  font-weight: 700;
  text-decoration: none;
  font-size: 1.8rem;
  color: #505050;
  line-height: 1.8rem;
}

.Follow_us_icon_container {
  color: #505050;
  font-size: 2.3rem;
  padding-left: 2rem;
  width: 100%;
}

/*Responsive for mobile and tab*/
@media (max-width: 1199px) {
  html {
    font-size: 8px;
  }

  .container1 {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .about_us_holder {
    width: 100%;
  }

  .footer_container_inner {
    padding: 3rem;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 6px;
  }

  .container1 {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .about_us_holder {
    width: 100%;
  }

  .footer_container_inner {
    padding: 3rem;
  }
}
@media (max-width: 670px) {
  html {
    font-size: 6px;
  }

  .container1 {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .footer_container {
    margin-top: 5rem;
    background-color: #f2e162;
    overflow: hidden;
  }

  .footer_container:after {
    width: 0%;
    position: absolute;
    right: 0;
    top: 0;
    content: "";
    display: block;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  .footer_container_inner {
    flex-direction: column;
    padding: 2rem;
  }

  .contact_us_section {
    width: 100%;
    padding: 5rem;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .subscribe_section {
    align-items: center;
    padding: 0rem 2rem;
  }
  .subscribe_section .subscribe_section_email_holder {
    margin-right: 0rem;
    width: 90%;
  }

  .about_us_holder {
    width: 100%;
  }
  .about_us_holder .last_about_us_holder {
    padding-right: 0rem;
    border-right: none;
  }

  .text_declaration_holder {
    width: 100%;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 5px;
  }

  .container1 {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .footer_container_inner {
    flex-direction: column;
    padding: 2rem;
  }

  .contact_us_section {
    width: 100%;
    padding: 5rem;
  }

  .subscribe_section {
    align-items: center;
    padding: 0rem 2rem;
  }
  .subscribe_section .subscribe_section_email_holder {
    margin-right: 0rem;
    width: 90%;
  }

  .about_us_holder {
    width: 100%;
  }
  .about_us_holder .last_about_us_holder {
    padding-right: 0rem;
    border-right: none;
  }

  .text_declaration_holder {
    width: 100%;
  }
}